*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
 padding: 10px;

/* position: fixed; */
width: 100%;
}
.nav ul{
  display: flex;
  list-style: none;
  gap: 2rem;
  cursor: pointer;
}
.logo{
display: flex;
margin-left: 50px;
gap:10px ;
}
.nav button{
  width: 100px;
  border-radius: 15px;
background-color: blue;
color: white;
border: none;
padding: 10px;
cursor: pointer;
margin-right: 50px;
}
.nav ul li:hover{
  color: blue;
}
path{
  fill: green;

}